services:
  postgres:
    image: postgres:16.4
    container_name: live-life-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - livelife-postgres-data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@livelife.com
      PGADMIN_DEFAULT_PASSWORD: livelife
    ports:
      - "5050:80"
    depends_on:
      - postgres

volumes:
  livelife-postgres-data:
